<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

<h1>Items</h1>

<ul>

<% items.forEach(item => { %>

<li>

    <a href="/items/<%= item.id %>">
    <%= item.name %>
</a>

    Description: <%= item.description %><br>

    Price: $<%= item.price %><br>

    Quantity: <%= item.quantity %><br>

    Category: <%= item.category %>

</li>

<hr>

<% }) %>

</ul>

<a href="/">← Home</a>

</body>
</html>