<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

<h1><%= title %></h1>

<table border="1" cellpadding="10">

<tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Quantity</th>
</tr>

<% items.forEach(item => { %>

<tr>

    <td><%= item.name %></td>

    <td><%= item.category %></td>

    <td>$<%= item.price %></td>

    <td><%= item.quantity %></td>

</tr>

<% }) %>

</table>

<br>

<a href="/">← Home</a>

</body>
</html>